@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-duniakoding-primary: #21007d;
  --color-duniakoding-secondary: #6b3af8;
  --color-duniakoding-tertiary: #121212;
  --color-primary: #495057;
  --color-secondary: #ffffff;
  --color-tertiary: #6b3af8;
  --color-disable: #a0a0a0;
  --color-error: #bc1d42;
  --font-poppins: Poppins, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
